<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apresentação</title>
</head>
<body>
    <div>
        <h2>Nomes:</h2>
        <p>Marcus Vinicius Aparecido Ferreira dos Santos <small>9713781</small></p>
        <p>Danielle Nascimento Sousa <small>29780063</small></p>
        <p>Isaque Estefano Malaquias <small>29744971</small></p>
        
    </div>
</body>
</html>